.AudioPlayer {
  background-color: rgba(1, 12, 63, 0.7);
  box-shadow: 0 4px 2px 2px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  margin-bottom: 2rem;
}

.AudioPlayerControl {
  width: 300px;
}

.AudioPlayerInfo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.AudioPlayerInfo h3 {
  margin-bottom: .22rem;
}

.AudioPlayerInfo p {
  font-size: .83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
  text-align: center;
}
